.main {
    background-image:url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height:740px;
    width:1480px;
    background-position: center;
    background-attachment: fixed;   
}
.logBox {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    left: 30px;
    top: 90px;
    height: 360px;
    width: 400px;
  
  
}

.signup{
  background-image:url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    height:1040px;
    width:1480px;
    background-position: center;
    background-attachment: fixed;   
}

.Detail {
  background-image: url("./Physics.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-attachment: fixed;
}
